@use "./global.scss" as global;

body {
  background: black;
  background: linear-gradient(-45deg, #6240c0, #120042, #000000, #120042);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: global.$mainText;
  font-family: global.$font;
}
