@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
$font: "ZCOOL XiaoWei", serif;

$mainColor: #2e0056;
$secondaryColor: #7d7483;
$popColor: #27edd8;
$mainText: #b2a8b8;
